/.cursor/*
!/.cursor/skills/
/.cursor/skills/*
!/.cursor/skills/soundrecorder-bug-triage/
!/.cursor/skills/soundrecorder-bug-triage/**
/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
**/oh_modules/
**/BuildProfile.ets
/signature/hapsign-online-plugin.jar
/signature/hap-sign-tool.jar
oh-package-lock.json5
